/* 
culture shock: gothic twitch v1.0
pogy366: http://www.raykdesign.net
Oct. 2005 
*/

/* general page structure and layout */
body {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:.8em; 
color:#000000; 
margin:20px 0 0 0;
padding:0 0 0 0;
background:#ffffff;
text-align:center;
}

.top {
margin:0 auto;
padding:0 0 0 0;
width:780px;
height:45px;
background:#ffffff url(../images/header_bg.jpg) no-repeat;
}

.page_wrap {
margin:0 auto;
padding:0 0 0 0;
width:780px;
background:#ffffff url(../images/page_bg.jpg);
text-align:center;
}

.header {
	position:relative;
	margin:5px 50px 0 41px;
	padding:0 0 0 10px;
	width:686px;
	height:50px;
	background:#D5DBD2;
	text-align:left;
	color:#616161;
	font-size:1em;
	border-top:2px solid #D5DBD2;
	border-bottom:2px solid #D5DBD2;
}

.container {
position:relative;
margin:10px 50px 5px 50px;
padding:0 0 0 0;
width:680px;
background:#D5DBD2;
text-align:left;
}

.left_nav {
position:relative;
float:left;
margin:0 10px 0 5px;
padding:0 0 0 0;
width:200px;
background:#E2E5E0;
}

.left_nav_top {
position:relative;
margin:0 0 0 0;
padding:0 0 0 0;
width:200px;
height:28px;
background:#E2E5E0 url(../images/left_nav_bg_top.jpg) no-repeat;
}

.left_nav_bottom {
position:relative;
margin:0 0 0 0;
padding:0 0 0 0;
width:200px;
height:28px;
background:#E2E5E0 url(../images/left_nav_bg_bottom.jpg) no-repeat;
}

.bottom {
margin:0 auto;
padding:0 0 0 0;
width:780px;
background:#ffffff url(../images/footer_bg.jpg) no-repeat top;
}

.footer {
position:relative;
margin:0 0 0 0;
padding:50px 0 0 0;
width:780px;
font-family:"Courier New", Courier, mono;
font-size:.8em;
background:transparent;
text-align:center;
}

/* lists */
#nav ul {
margin:10px 0 10px 1px;
padding:0 0 0 0;
background:transparent;
}

#nav li {
list-style-type: none;
background:transparent;
color: #daa520;
text-align:left;
padding:0 0 0 0;
border-top:1px solid #E2E5E0;
border-bottom:1px solid #E2E5E0;
margin-bottom:6px;
}

#nav li a {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:.9em;
color: #000000;
text-decoration: none;
display: block;
padding:2px 0 2px 15px;
border-top:1px solid #E2E5E0;
border-bottom:1px solid #E2E5E0;
}

#nav li a:hover {
background:#D5DBD2;
color: #000000;
border-top:1px solid #B3C0AA;
border-bottom:1px solid #B3C0AA;
}

#nav li a:hover:after {
/* this puts that little characters after the left navigation links on hover */
background:#D5DBD2;
color: #B3C0AA;
content: "\002B";
}

/* fonts */
h1 {
	color:#711F1F;
	font-size:2.5em;
	letter-spacing:0.5px;
	text-transform:none;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

h2 {
color:#000000;
font-size:1.2em;
text-transform:capitalize;
font-weight:bold;
padding:0 0 0 0;
margin:0 0 -6px 0;
}

h3 {
color:#000000;
font-size:1.1em;
text-transform:capitalize;
font-weight:bold;
padding:0 0 0 0;
margin:0 0 -8px 0;
}

a {
color:#8C2C2C;
text-decoration:underline;
}

a:hover {
color:#818181;
text-decoration:none;
}

/* workarounds and hacks */
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



table 
{
  margin:auto;
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
	padding: 5px;
	border: 1px solid #316AC5;
}

table th
{
	padding: 6px 5px;
	text-align: left;
	background-color: #ECECEC;
	border: solid 1px #316AC5;
}
